@import '../../assets/lib-rem.less';
@import '../../assets/lib-reset.less';


@dark-color: #ec5504;
@light-color: #ffa778;


body {
    text-align: center;
    color: @dark-color;
}

.flex-content {
    display: flex;
    flex-direction: column;
}

.logo{ 
    margin-top: 30px;
    padding:10px;
    border-bottom: 1px solid @dark-color
}

.title {
    width: 150px;
    font-size: 20px;
    margin: 20px auto;
}

a{
    font-size: 15px;
    color: @dark-color;
    text-decoration: blink;
    border: 1px solid @dark-color;
    padding: 5px 10px;
    border-radius: 10px;
}

